{% extends 'layout.html' %}


{% block content %}

<h1 class="text-center">{{ booking.booker_name }}</h1>

<div class="container">
   <div class="row">
       <div class="one-half column">
        <h4 class='nm'>Booking</h4>
        <table class="u-full-width">
            <tr>
                <th>Booking Id</th>
                <td>{{ booking.book_nr}}</td>
            </tr>
            <tr>
                <th>Book Date</th>
                <td>{{ booking.book_date }}</td>
            </tr>
            <tr>
                <th>Booker Name</th>
                <td>{{ booking.booker_name }}</td>
            </tr>
            <tr>
                <th>Guest Names</th>
                <td>{{ booking.guest_names }}</td>
            </tr>
            <tr>
                <th>Arrival</th>
                <td>{{ booking.arrival }}</td>
            </tr>
            <tr>
                <th>Departure</th>
                <td>{{ booking.departure }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ booking.status }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>${{ booking.total }}</td>
            </tr>
            <tr>
                <th>Commission</th>
                <td>${{ booking.commission }}</td>
            </tr>
        </table>
       </div>
       <div class="one-half column">
           <h4 class="nm">Payments</h4>
           <table class="u-full-width">
           {% for payment in booking.get_payments %}
               <tr>
                   <th>{{ payment.currency.slug | upper }}</th>
                   <td>${{ payment.value }}</td>
               </tr>
           {% endfor %}
           </table>
           <form action="{% url 'do_booking_payment' book_nr=booking.book_nr %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="eight columns">
                    <input name="payment_value" class='u-full-width' type="text" placeholder="New payment ammount">
                </div>
                <div class="four columns">
                    <select name="payment_currency" class='u-full-width'>
                        {% for c in currencies%}
                        <option value="{{ c.slug }}">{{ c.slug | upper }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="twelve columns">
                    <input class='u-full-width' type="submit">
                </div>
            </div>
           </form>
           
           <h4 class="nm">Services</h4>
           <table class="u-full-width">
           {% for service in booking.get_services %}
               <tr>
                   <th>{{ service.concept.name }}</th>
                   <td>${{ service.value }}</td>
               </tr>
           {% endfor %}
           </table>
           <form action="{% url 'do_booking_service' book_nr=booking.book_nr %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="six columns">
                    <input name="value" class='u-full-width' type="text" placeholder="New service cost">
                </div>
                <div class="six columns">
                    <select name="concept_id" class='u-full-width'>
                        {% for c in concepts %}
                        <option value="{{ c.id }}">{{ c.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="twelve columns">
                    <input class='u-full-width' type="submit">
                </div>
            </div>
           </form>
       </div>
   </div>
</div>


{% endblock content %}