{% extends 'layout.html' %}


{% block content %}

<h1 class="text-center">System Configuration</h1>
<hr>
<div class="container">
   <div class="row">
        <div class="six columns">
            <strong>Sync with Google Drive</strong>
            <p>
                Para sincronizar los cortes con Google Drive, basta con otorgar permiso al sistema en una cuenta existente.
            </p>
        </div>
        <div class="text-center six columns" style='padding-top:20px'>
            <button>Choose Google Drive Account</button>
        </div>
   </div>
</div>


{% endblock content %}