html, body
    height 100%
    background-color #fafafa
    
.text-center
    text-align center
.text-left
    text-align left
.text-right
    text-align right
.hidden
    display none
.nm
    margin 0!important
hr
    border 1px solid #e7e7e7
    border-bottom none
    margin 25px 0
h4
    text-transform uppercase
    font-weight 900
    font-size 24px
    border-bottom 1px solid #eaeaea
    padding 15px 0
    margin 0 0 15px
table
    tr td
        border-color #eaeaea
.wrap
    background white
    width 800px
    margin 50px auto
    box-shadow 0 0 40px 10px rgba(black, 0.05)
    padding 20px 0
.row-table
    .row
        border-left 3px solid transparent
        border-bottom 1px solid #e7e7e7
        box-sizing border-box
        padding 10px 8px
.row-hovered
    .row:hover
        cursor pointer
        border-left 3px solid #9b59b6
    .row-header:hover
        cursor inherit
        border-left 3px solid transparent
.row-header
    .column,.columns
        text-transform uppercase
        font-weight 900
        
        
.message
    padding 15px 20px
    margin 20px 0
    background-color #fafafa
    font-weight medium
    &.header, .header
        text-transform uppercase
        font-weight bold
    .header
        margin-bottom 10px
        padding-bottom 10px
        border-bottom 2px solid rgba(white,0.7)
    .fa
        margin-right 15px
    &.error,&.success,&.yellow
        color white
    &.error
        background-color #e74c3c
    &.success
        background-color #27ae60
    &.yellow
        background-color #f1c40f